In [1]:
import pandas as pd 
import yfinance as yf 
import matplotlib.pyplot as plt 
pd.options.display.float_format = '{:.4f}'.format
plt.style.use('seaborn')

In [10]:
start = '2015-01-02' 
end = '2020-12-31'
symbol = ['GE','TSLA']

In [11]:
df = yf.download(symbol, start, end)

[*********************100%***********************]  2 of 2 completed

In [12]:
df

           Adj Close             Close              High               Low  \
                  GE     TSLA       GE     TSLA       GE     TSLA       GE
Date
2015-01-02  167.7533  43.8620 192.7692  43.8620 195.8462  44.6500 191.3077
2015-01-05  164.6740  42.0180 189.2308  42.0180 192.3846  43.3000 188.6154
2015-01-06  161.1262  42.2560 185.1538  42.2560 189.0000  42.8400 184.0769
2015-01-07  161.1931  42.1900 185.2308  42.1900 187.6154  42.9560 184.4615
2015-01-08  163.1344  42.1240 187.4615  42.1240 187.5385  42.7600 185.6154
...              ...      ...      ...      ...      ...      ...      ...
2020-12-23   86.5290 645.9800  86.8800 645.9800  87.8400 651.5000  84.9600
2020-12-24   84.8558 661.7700  85.2000 661.7700  86.8000 666.0900  84.9600
2020-12-28   84.7761 663.6900  85.1200 663.6900  86.2400 681.4000  84.6400
2020-12-29   84.1387 665.9900  84.4800 665.9900  86.1600 669.9000  84.3200
2020-12-30   85.3338 694.7800  85.6800 694.7800  86.8000 696.6000  84.4000

                        Open            Volume
               TSLA       GE     TSLA       GE      TSLA
Date
2015-01-02  42.6520 194.9231  44.5740  5319704  23822000
2015-01-05  41.4320 192.3846  42.9100  5464316  26842500
2015-01-06  40.8420 188.1538  42.0120  8288800  31309500
2015-01-07  41.9560 186.2308  42.6700  5673525  14842000
2015-01-08  42.0020 187.0769  42.5620  5619172  17212500
...             ...      ...      ...      ...       ...
2020-12-23 622.5700  85.4400 632.2000  7563063  33173000
2020-12-24 641.0000  86.8000 642.9900  3756213  22865600
2020-12-28 660.8000  85.6000 674.5100  6724588  32278600
2020-12-29 655.0000  85.2800 661.0000  6629488  22910800
2020-12-30 668.3600  84.6400 672.0000  6327625  42846000

[1510 rows x 12 columns]

In [13]:
close = df.Close.copy()

In [15]:
close

                 GE     TSLA
Date
2015-01-02 192.7692  43.8620
2015-01-05 189.2308  42.0180
2015-01-06 185.1538  42.2560
2015-01-07 185.2308  42.1900
2015-01-08 187.4615  42.1240
...             ...      ...
2020-12-23  86.8800 645.9800
2020-12-24  85.2000 661.7700
2020-12-28  85.1200 663.6900
2020-12-29  84.4800 665.9900
2020-12-30  85.6800 694.7800

[1510 rows x 2 columns]

In [16]:
norm = close.div(close.iloc[0]).mul(100) 
norm

                 GE      TSLA
Date
2015-01-02 100.0000  100.0000
2015-01-05  98.1644   95.7959
2015-01-06  96.0495   96.3385
2015-01-07  96.0894   96.1880
2015-01-08  97.2466   96.0376
...             ...       ...
2020-12-23  45.0694 1472.7554
2020-12-24  44.1979 1508.7548
2020-12-28  44.1564 1513.1321
2020-12-29  43.8244 1518.3758
2020-12-30  44.4469 1584.0136

[1510 rows x 2 columns]

## what is the final normalized price for GE on 2020-12-30?

In [17]:
norm['GE'].tail(1)

Date
2020-12-30   44.4469
Name: GE, dtype: float64