1. Calculate daily returns for Bitcoin.

2. Calculate the arithmetic mean return and the standard deviation of returns for Bitcoin.

3. Compare Bitcoin with Microsoft (mu = 0.00116, sigma = 0.01726). Does the rule "Higher Risk -> Higher Reward" hold?

In [2]:
import pandas as pd 
import yfinance as yf  
import matplotlib.pyplot as plt 
import numpy as np
pd.options.display.float_format = '{:.4f}'.format
plt.style.use('seaborn')

In [25]:
start = '2014-10-01' 
end = '2021-05-21' 
symbol = ['MSFT','BTC-USD'] 
df = yf.download(symbol,start,end)

[*********************100%***********************]  2 of 2 completed

In [26]:
df = df.Close

In [27]:
msft = df.MSFT.dropna().to_frame().copy()

In [28]:
btc = df['BTC-USD'].dropna().to_frame().copy()

In [41]:
msft.rename(columns={'MSFT':'Price'},inplace = True)
msft['Returns'] = msft.Price.pct_change(periods = 1) 
msft['Returns'].to_frame().describe()

        Returns
count 1671.0000
mean     0.0011
std      0.0173
min     -0.1474
25%     -0.0062
50%      0.0009
75%      0.0091
max      0.1422

In [40]:
btc.rename(columns = {'BTC-USD':'Price'}, inplace = True) 
btc['Returns'] = btc.Price.pct_change(periods = 1) 
btc['Returns'].to_frame().describe()

        Returns
count 2424.0000
mean     0.0027
std      0.0390
min     -0.3717
25%     -0.0121
50%      0.0020
75%      0.0180
max      0.2525

In [43]:
print("Microsoft AVG return: {}".format(msft.Returns.mean())) 
print("BTC AVG return: {}".format(btc.Returns.mean()))
print("Microsoft Volatility: {}".format(msft.Returns.std()))  
print("BTC Volatility: {}".format(btc.Returns.std()))

Microsoft AVG return: 0.0011494041762693515
BTC AVG return: 0.0026922245898115776
Microsoft Volatility: 0.0172732471762876
BTC Volatility: 0.039012975997731174